<% provide(:title, 'Contact') %>
<!DOCTYPE html>
<html>
	<head>
		<title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %> </title>
	</head>
	<body>
		<h1>Contact</h1>
		<p>This is the contact page for the</p>
		<a href="http://railstutorial.org">Rails Tutorial</a> sample application.
	</body>
</html>