<% provide(:title, 'Help') %>
<!DOCTYPE html>
<html>
	<head>
		<title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %> </title>
	</head>
	<body>
		<h1>Help</h1>
		<p>Get help on Ruby on Rails Tutorial at</p>
		<a href="http://railstutorial.org/help">Rails Tutorial Help</a> sample application.
	</body>
</html>