<% provide(:title, 'Sign Up') %>
<h1>Sign up</h1>

<%= form_for(@user) do |f| %>
	<%= render 'fields', f: f %>
	<div class="actions">
		<%= f.submit "Sign up" %>
	</div>
<% end %>
<!--%= link_to "Sign up now!", signup_path, class: "signup_button round" %-->